<html>
	<head>
		<title>{{t}}</title>
		<link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/style.css')}}" >
	</head>
<body>
	<h1>{{ h }}</h1>
	<ul>
		<li><a href="/todos" class="{{ a1 }}">ALL</a></li>
		<li><a href="/todos/uncompleted" class="{{ a2 }}">Uncompleted</a></li>
		<li><a href="/todos/completed" class="{{ a3 }}">Completed</a></li>
		<li style="float:right"><a href="/about">About</a></li>
	</ul>
	{% if error %}
		<div class="alert alert-danger">
	  		<strong>Error!</strong> {{ error }}
		</div>
	{% endif %}
	<hr>
	<div span="right">
	<form action="/search"	method="GET" >
		<table class="none" id="close">
		<tr>
		<td></td><td></td>
		<td><big><b>Search Reference:</b></big></td>
		<td><select name="searchfield" required>
			<option value="name">Task Name</option>
			<option value="desc">Description</option>
			<option value="date">Date</option>
			<option value="pr">Priority</option>
		</select></td>
		<td><input type="text" name="searchvalue" placeholder="Search Task" size="15" /></td>
		<td><button type="submit">Search</button></td>
		</tr>
		</table>
	</form>
	</div>
	{% if todos[0] %}
		{% if searchfield %}
			<b><big>Search results for field: {{searchfield}} - {{searchvalue}}</big></b>
		{% else %}
			<b><big>COMPLETE To-Do LIST :</big></b>
		{% endif %}
		<table>
			<tr id="row">
				<th class="status">Status</th>
				<th class="name">Task Name</th>
				<th class="desc">Description</th>
				<th class="date">Date</th>
				<th class="pr">Priority</th>
				<th class="func1">Remove</th>
				<th class="func2">Modify</th>
			</tr>
			{% for todo in todos %}
				<tr class="datas">
					<td><a href="/todos/{{todo['_id']}}/done"><input type="image" src="/static/images/{{todo['done']}}.png" alt="Submit ME"></a></td>
					<td class="name">{{ todo["name"] }}</td>
					<td class="desc">{{ todo["desc"] }}</td>
					<td class="date">{{ todo["date"] }}</td>
					<td class="pr">{{ todo["pr"] }}</td>
					<td class="func1"><a href="/todos/{{todo['_id']}}/delete">🗑️</a></td>
					<td class="func2"><a href="/todos/{{todo['_id']}}/update">📝</a></td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<div class="danger">
			<h4>No Tasks in the List !!</h4>
		</div>
	{% endif %}
	<hr/>
	<form action="/todos" method="POST">
	<table class="none">
		<tr class="row success">
			<td>
				<h2>Add a Task</h2>
			</td>
		</tr>
		<tr class="row">
			<td class="col-2">
				<input type="text" name="name" placeholder="Taskname" />
			</td>
		</tr>
		<tr class="row">
			<td class="col-4">
				<textarea name="desc" rows="2" cols="30" placeholder="Enter Description here..." required></textarea>
			</td>
		</tr>
		<tr class="row">
			<td class="col-2">
				<input type="date" name="date" placeholder="Date" />
			</td>
		</tr>
		<tr class="row">
			<td class="col-2">
				<select name="pr">
					<option selected disabled>Priority</option>
					<option>Low !</option>
					<option>Medium !!</option>
					<option>High !!!</option>
				</select>
			</td>
		</tr>
		<tr class="row">
			<td class="col-2">
				<button type="submit"> Create </button>
			</td>
		</tr>
	</form>
	</table>
</body>
</html>
