div {	margin-bottom: 1.2em;}
table {	margin-bottom: 1.2em;}
table{
	width:95%;
	border-collapse:collapse;
	table-layout:fixed;
}
td
{
	border: rgba(224, 119, 70, 1) 1px solid;
	word-wrap:break-word;
	text-align: center;
}
th.status{ width:5%;}
th.name{width:20%;}
th.des{
	width:40%;
	padding:5px 5px 5px 5px;
}
th.date{ width:8%;}
th.pr{ width:7%;}
th.func1{ width:6%;}
th.func2{	width:5%;}
.col-2 { width: 16.66%; }
.col-4 { width: 33.33%; }
button[type=submit] {
	background-color: #428bca;
	border: none;
	color: white;
	border-radius: 15px 15px;
	padding: 10px 20px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}
.success { color: #5cb85c; }
.danger { color: #d9534f; }
.warning { color: #ff9800; }
.info { color: #2196F3; }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li { float: left;}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a.active { background-color: #4CAF50;}
a.active:hover { background-color: #111;}

